* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: rgb(43, 43, 43);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}
.nav-logo {
    max-width: 150px;
    margin-left: 20px;
}
.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style: none;
    margin-left: 25px;
}

.nav-menu ul li a {
    color: black;
    text-decoration: none;
}

.hero {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    padding: 0 60px;
}

.hero-text {
    color: #fff;
    margin-left: 20px;
    max-width: 600px;
}

.hero-text h1 {
    font-family: "Sigmar", sans-serif;
    font-weight: 200;
    font-size: 80px;
    line-height: 1;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.hero-text>p {
    margin-bottom: 70px;
    letter-spacing: 1.5px;
}

.search-bar {
    display: flex;
    margin-left: 60px;
}

.left-bar {
    background-color: #fff;
    color: #333;
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 300px;
    font-family: inherit;
}

.left-bar::placeholder {
    color: rgb(166, 166, 166);
}

.right-bar {
    background-color: rgb(68, 68, 68);
    color: #fff;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: inherit;
    transition: background-color 0.3s;
}

.right-bar:hover {
    background-color: #333;
}

.service {
    background-color: #fff;
    padding: 60px 140px;
}

.service-container {
    margin: 0 auto;
    display: flex;
    color: #fff;
}

.service-container h2 {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.service-container h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.service-container p {
    margin-bottom: 20px;
}

.service-container img {
    width: 50px;
    height: 50px;
}

.service-item-1,
.service-item-2,
.service-item-3,
.service-item-4 {
    padding: 25px 40px 25px 25px;
    flex: 1;
}

.service-item-1 {
    background-color: #ff6600;
}

.service-item-2 {
    background-color: #f1341f;
}

.service-item-3 {
    background-color: #313131;
}

.service-item-4 {
    background-color: #767676;
}

.about {
    background-color: #e1e1e1;
    padding: 60px 250px;
    text-align: center;
}
.about h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: #ff6600;
    font-size: 45px;
    margin-bottom: 10px;
}
.about p {
    margin-bottom: 30px;
}
.readmore-btn {
    text-decoration: none;
    padding: 15px 35px;
    background-image: linear-gradient(to right,#ff6600,#ff3700);
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    display: inline-block;
}

.folio {
    background-color: #fff;
    padding: 60px 140px;
}

.folio .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
}
.folio-img {
    background-size: cover;
    background-position: center;
    min-height: 350px;
}
.folio-text {
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 45px;
    h3 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 10px;
    }
}
.readmore-link {
    font-size: 12px;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #313131;
    border-bottom: #313131 2px solid;
}

.features {
    background-image: url(../images/handbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 800px; */
    background-position: top;
    padding: 60px 140px;
    min-height: 600px;
    
}
.features .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 320px;
    margin-bottom: 40px;
    gap: 25px;
}

.features-item {
    background-color: #fff;
    /* margin-right: 25px; */
    padding: 25px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #767676 1px solid;
    flex: 1;
}

.features-item h4 {
    margin-bottom: 15px;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 20px;
}
.features-item p {
    text-align: center;
}

footer {
    background-color: rgb(68, 68, 68);
    color: #fff;
    text-align: center;
    padding: 35px;
    font-size: 12px;
}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #ff6600;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
    bottom: 30px;
}

.back-to-top:hover {
    background-color: #e65c00;
    transform: translateY(-3px);
}

.arrow-up {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-135deg);
    margin-top: 5px;
}


/* RWD響應式設計 */
@media screen and (max-width: 1024px) {

    .nav,
    .hero,
    .service,
    .folio,
    .features,
    .about {
        padding-left: 30px;
        padding-right: 30px;
    }

    .about {
        padding: 60px 50px;
    }

    .hero h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        padding: 20px;
    }

    .nav-logo {
        margin-left: 0;
        margin-bottom: 15px;
    }

    .nav-menu ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-menu ul li {
        margin: 5px 10px;
    }

    .hero {
        height: auto;
        padding: 80px 30px;
        text-align: center;
        justify-content: center;
    }

    .hero-text {
        margin-left: 0;
    }

    .search-bar {
        margin-left: 0;
        justify-content: center;
    }

    .service-container {
        flex-wrap: wrap;
    }

    .service-item-1,
    .service-item-2,
    .service-item-3,
    .service-item-4 {
        flex: 0 0 50%;
    }

    .about {
        padding: 60px 20px;
    }

    .folio .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .features .container {
        margin-top: 150px;
        gap: 15px;
    }
}

@media screen and (max-width: 576px) {
    .hero h1 {
        font-size: 40px;
    }

        .search-bar {
            flex-direction: column;
            width: 100%;
            margin-left: 0;
        }

        .left-bar {
            width: 100%;
            margin-bottom: 10px;
            text-align: center;
        }

        .right-bar {
            width: 100%;
        }

    .service-item-1,
    .service-item-2,
    .service-item-3,
    .service-item-4 {
        flex: 0 0 100%;
    }

    .folio .container {
        grid-template-columns: 1fr;
    }

    .features .container {
        flex-direction: column;
        margin-top: 50px;
    }

    .features-item {
        width: 100%;
    }

        .back-to-top {
            width: 40px;
            height: 40px;
            bottom: 20px;
            right: 20px;
        }
    
        .arrow-up {
            padding: 4px;
            border-width: 0 2px 2px 0;
        }
}